<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html>
<head>
    <title>Contact Us - EventGram</title>
</head>
<body>
    <h1>Contact Us</h1>
    <p>Event Gram Pvt Ltd, 4000 SW 37th BLVD, Gainesville, 32608.</p>

    <p> Phone: +1 (352)-222-1234</p>
    <h2> Follow us on our social media </h2>
    <p> Twitter: @eventgramofficial</p>

    <p> Insta: @eventgram_official</p>

    <p> FB: @official_eventgram</p>

    <p>If you would to connect with us for more details and a glimpse into our events. Please contact.</p>
    <p>Email: eventgram@gmail.com </p>
</body>
</html>
</title>
</head>
<body>

</body>
</html>